@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700|Space+Mono:400,400i,700&display=swap');

.footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    padding: 0;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    border-top: .1em solid var(--green);
}

.footer-site {
    list-style: none;
    font-size: 20px;
    color: white;
    margin: 0 1rem;
    font-weight: lighter;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}

.footer-item {
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    margin-inline-start: auto;
}

.footer-item a {
    padding: 0 3rem;
}